* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* faf9f4 */

html {
  font-size: 16px;
}

body {
  background-color: #fcf9f0;
}
.font-nunito {
  font-family: "Nunito", sans-serif;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #111827;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #242934;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-in-out forwards;
}

.animate-slideUp {
  animation: slideUp 0.3s ease-in-out forwards;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
}
